body{
	background: url(../img/banner.jpg) no-repeat fixed;
	background-size: cover;
	font-family: '幼圆';
}
#content{
	width: 100%;
	height: auto;
	background: #fff;
	padding: 60px 0 20px;
}

/* 中间内容区 */
#content .cont_1{
	width: 800px;
	height: 150px;
	margin: 0 auto;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 100px;
	position: relative;
	background: url(../img/right.jpg) right no-repeat;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
#content .cont_1>div{
	width: 630px;
	height: 100px;
	margin-top: 25px;
	margin-left: 25px;
}

#content a:hover{
	color:#f8962e ;
}
.cont_img{
	width: 130px;
	height: 190px;
	position: absolute;
	top: -30px;
	left: 30px;
	border-radius: 5px;
	display: inline-block;
	box-shadow: 0 10px 20px rgba(0,0,0,0.2);
	z-index: 2;
}
.cont_btn{
	margin-top: 20px;
	width: 130px;
	height: 45px;
	color: #FFF;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	border-radius: 25px;
	background: #F8962E;
	transition: 1s;
}
.cont_btn:hover{
	background: yellowgreen;
}
.cont_img img{
	width: 130px;
	height: 190px;
	border-radius: 5px;
}
#content .cont_2{
	width: 800px;
	height: 350px;
	margin: 0 auto;
	border-radius: 5px;
	margin-bottom: 100px;
	position: relative;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
#content .cont_cot{
	position: absolute;
	left: 200px;
	top: 25px;
	z-index: 2;
}
.cont_title:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 190px;
	z-index: 1;
	background:linear-gradient(to bottom, rgba(105, 105, 105, 0.1) 0%, #fff 85%);
}
.cont_1:after{
	content:"";
	position: absolute;
	top: 0;
	right: 0;
	width: 150px;
	height: 150px;
	background:linear-gradient(to left, rgba(105, 105, 105, 0.1) 0%, #fff 85%);
}
#content .cont_title{
	width: 100%;
	height: 190px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#content .cont_foot{
	padding: 0 25px;
}
#content .cont_3{
	width: 800px;
	height: 300px;
	margin: 0 auto;
	border-radius: 5px;
	margin-bottom: 100px;
	position: relative;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.cont_cot3{
	position: absolute;
	left: 80px;
	top: 50px;
	z-index: 2;
	text-align: center;
}
.cont_cot3 a{
	font-size: 60px;
}
#hello{
	width: 100%;
	height: 0;
	position: fixed;
	top: 0;
	left: 0;
	color: #fff;
	background: rgba(0,0,0,0.6);
	z-index: 9900;
	opacity: 0;
	transition: 1s;
	font-size: 100px;
	text-align: center;
	overflow: hidden;
}
#hello p{
	margin-top: 10px;
	font-size: 30px;
}